<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {%- seo -%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <script src="{{ "/assets/main.js" | relative_url }}"></script>
    {% if page.app_banner %}
    <meta name="apple-itunes-app" content="app-id={{ page.app_banner }}, app-clip-bundle-id={{ page.app_clip }}">
    {% endif %}
    <meta name="theme-color" content="#b0a0f5" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>