<header class="site-header" data-sticky-header>
    <a class="site-header__brand" href="/">
        <img src="/assets/personal-best-icon.png" class="site-header__icon" alt="" />
        <span class="site-header__wordmark">Personal Best</span>
    </a>
    <nav class="site-header__nav" aria-label="Primary">
        <a href="/press" class="site-header__link">Press<span class="site-header__long"> kit</span></a>
        <a href="https://apps.apple.com/gb/app/personal-best-workouts/id1510256676" class="site-header__cta"><span class="site-header__long">Get the app</span><span class="site-header__short">Download</span></a>
    </nav>
</header>
